.container-footer{width: 100%;
margin: 100px 0;}

.container-footer h2{color: orange;
  font-family: 'Assistant', sans-serif;
font-size: 2em;
font-weight: 500;
margin-left: 300px;}

.container-footer img {border: 1px solid rgba(0, 0, 0, 0.2);
margin: 10px; }

.container-img{width: 70%;
margin: auto;}

.container-span{width: 30%;
margin: 40px auto;
display: flex;
flex-direction: column;}

.container-span span
{color:rgba(0, 0, 0, 0.5) ;
  font-size: 1.2em;
  text-align: center;
  align-items: center;
  font-family: 'Assistant', sans-serif;
}
