<div class="spinner" *ngIf="loadind$ | async">
  <mat-spinner color="accent"></mat-spinner>
</div>
<div class="tabla">
<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="titulo">
    <th mat-header-cell *matHeaderCellDef>Curso</th>
    <td mat-cell *matCellDef="let element">{{element.titulo}}</td>
  </ng-container>

  <ng-container matColumnDef="modalidad">
    <th mat-header-cell *matHeaderCellDef>Modalidad</th>
    <td mat-cell *matCellDef="let element" appListaAlumnos>{{element.modalidad}}</td>
  </ng-container>

  <ng-container matColumnDef="duracion">
    <th mat-header-cell *matHeaderCellDef>Duración</th>
    <td mat-cell *matCellDef="let element">{{element.duracion}}</td>
  </ng-container>

  <<ng-container matColumnDef="cupo">
    <th mat-header-cell *matHeaderCellDef >Cupo</th>
    <td mat-cell *matCellDef="let element" >{{element.cupo | formatoBooleano: 'Abierto' : 'Cerrado'}}</td>
  </ng-container>

  <ng-container matColumnDef="profesor">
    <th mat-header-cell *matHeaderCellDef>Profesor</th>
    <td mat-cell *matCellDef="let element">{{element.profesor.nombre}}</td>
  </ng-container>

  <ng-container matColumnDef="clasesSemanales">
    <th mat-header-cell *matHeaderCellDef>Clases Semanales</th>
    <td mat-cell *matCellDef="let element">{{element.clasesSemanales}}</td>
  </ng-container>

  <ng-container matColumnDef="fechaInicio">
    <th mat-header-cell *matHeaderCellDef>Fecha de Inicio</th>
    <td mat-cell *matCellDef="let element">{{element.fechaInicio }}</td>
  </ng-container>

  <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef>Acciones</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button (click)="goEdit(element)"  >
        <mat-icon> edit </mat-icon>
      </button>
      <button mat-icon-button (click)="deleteCurso(element)">
        <mat-icon> delete </mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnas"></tr>
  <tr mat-row *matRowDef="let row; columns: columnas"></tr>
</table>
</div>







