.section-alumnos
{background-color: #002653;
color: #fff;
text-align: center;
margin-top: 100px;}

.section-alumnos button
 { background-color: transparent;
border: transparent;
font-family: 'Assistant', sans-serif;
font-size: 1.6em;}

#placeholder-alumno {background-color: #002653;}
#placeholder-alumno li {color: #fff;
font-size: 0.5em;
list-style: none;
}
#placeholder-alumno span { color: #ffc107;
font-size: 0.6em;
padding: 5px;}
