.container-general {
  width: 80%;
  margin: 30px auto;
  border-bottom: 2px solid orange;
  padding: 40px;
}

.cont-inf {
  align-items: center;
  text-align: justify;
}

.container-general h2 {
  color: #002653;
  margin-top: 30px;
  font-size: 2em;
  padding-left: 20px;
  border-left: 2px solid #002653;
}

.cont-img {
  width: 60%;
  margin: 50px auto;
}

.cont-img img {
  width: 100%;

}

.cont-titulo {
  width: 80%;
  margin-top: 50px;
}

.titulo {
  color: orange;
  font-size: 3em;
  font-family: 'Assistant', sans-serif;
  margin-left: 130px;
  padding: 30px;
  border-left: 2px solid orange;
  border-bottom: 2px solid orange;
}
