
<div class="cont-titulo">
<h3 class="titulo">NOTICIAS</h3>
</div>
<div class="container-general">
  <h2>El ecoguiado en pulmón permite detectar lesiones benignas con una elevada especificidad y obviar la biopsia</h2>
  <div class="cont-img">
  <img src="../../../assets/images/NP_.jpg" title="img">
  </div>
  <div class="cont-inf">
  <p>El ecoguiado en pulmón permite detectar lesiones benignas con una elevada especificidad y obviar la biopsia, con el consiguiente beneficio para el paciente, según la Sociedad Española de Radiología Médica (SERAM). Tal y como se puso de manifiesto durante el XXXVII Curso Internacional de la SEUS, sección específica de ultrasonidos de la SERAM.</p>
  <p>Los procedimientos intervencionistas percutáneos pueden ser realizados con guía de imagen. Son múltiples las recomendaciones acerca del empleo de guía de imagen, puesto que aumenta el rendimiento de la técnica y disminuye las complicaciones.</p>
  <p>El ecoguiado es una técnica muy extendida como guía de procedimientos intervencionistas en múltiples localizaciones del organismo, como el hígado, riñón, músculos, esqueleto, etc. y permite el abordaje de múltiples patologías torácicas. Sin embargo, “en patología pulmonar, no ha tenido un gran desarrollo debido a que la gran diferencia de impedancia acústica entre la pared torácica y el aire pulmonar impide la progresión de los ultrasonidos y no podemos visualizar más que la superficie pulmonar” apunta el Dr. Iván Vollmer Torrubiano</p>
  <p>“A pesar de ello, las lesiones que alcancen la periferia del pulmón van a ser visibles por ecografía y son éstas las potencialmente abordables para los procedimientos intervencionistas. Así pues, cualquier paciente con una lesión pulmonar que alcance la periferia podrá ser sometido a este tipo de procedimiento. Por ello, cada vez de forma más frecuente, la guía ecográfica se está empleando en el abordaje de lesiones pulmonares.” puntualiza el Dr. Vollmer.</p>
  <p>La biopsia de lesiones pulmonares con guía ecográfica se realiza habitualmente en casos en los que exista sospecha de neoplasia o masa anormal de tejido que aparece cuando las células se multiplican más de lo debido o no se mueren cuando deberían. No obstante, también puede realizarse en casos de infecciones pulmonares en los que sea necesario confirmar la sospecha de infección o determinar el agente causal y algunos tratamientos mediante la inyección percutánea del antibiótico a través de una punción ecodirigida.</p>
  </div>
  </div>

  <div class="container-general">
    <h2>El 96% de las víctimas de una catástrofe necesita una prueba radiológica urgente</h2>
    <div class="cont-img">
      <img src="../../../assets/images/IMV_-_Milagros_Martí.png" title="img">
    </div>
    <div class="cont-inf">
  <p>Casi la totalidad de las víctimas de una catástrofe o incidente con múltiples víctimas (IMV), más de un 96%, necesita alguna exploración radiológica urgente cuando se trata de lesiones traumáticas. Por ello, en este escenario la actuación del servicio de radiología juega un papel crucial tanto para identificar lesiones y dirigir el tratamiento óptimo, como para apoyar o corregir el triaje clínico inicial.</p>
  <p>Para una correcta preparación de los servicios de radiología en estas circunstancias, es imprescindible contar con una ruta de actuación. “Al servicio de radiología se le acusa de ser el cuello de botella de la atención en una catástrofe, pero esto no será cierto si se dispone de un plan que ofrezca una respuesta ordenada, proporcional a la situación y eficiente en el tiempo”, afirma la Dra. Martí, quien prosigue que este plan debe ser “conocido y ensayado, integrado en el plan de catástrofes del hospital y coordinado con la emergencia prehospitalaria”. Además, insiste en la importancia de que en él participen todos los profesionales implicados.</p>
  <p>Este Plan de Radiología debe centrarse en conocer los recursos técnicos y humanos disponibles en la peor de las situaciones (guardia fin de semana) y de su capacidad de expansión en tiempo y espacio. Además, recomienda “hacer un inventario” de los medios tecnológicos y de profesionales y evaluar la capacidad de activación “para que en el mínimo de tiempo se alcancen la totalidad de los recursos, o sólo los necesarios, en función de la magnitud de la catástrofe”, asegura.</p>
  <p>Entre las principales premisas de actuación en una catástrofe es fundamental un identificador único para cada paciente: “se le adjudican tarjetas identificativas, con color y número de orden y su código de barras, al que se incorpora a toda su documentación clínica, incluyendo el informe radiológico”, argumenta la Dra. Martí, quien considera que “es la única manera de ser capaces de registrar una gran cantidad de pacientes sin error”.</p>
  <p>La evaluación inmediata es fundamental para los pacientes más graves que, según la presidenta de la SERAM, “no serán los primeros en llegar” e ignorar este hecho puede llevar a “saturar los equipos de radiología para cuando llegan quienes más los necesitan”. Para poder realizar una correcta identificación de lesiones inicial es necesario “tener previsto desplazamiento de equipos portátiles a las áreas de expansión de críticos, para su evaluación inmediata”.</p>
  <p>El informe radiológico cobra una gran importancia en estas situaciones de máxima urgencia y gravedad, con el objetivo de establecer un diagnóstico rápido y preciso. Para la Dra. Martí es necesario la elaboración de un informe preliminar “inmediato, verbal y escrito, tipo check-list, de las lesiones más importantes antes de que el paciente abandone la sala”. Este informe, insiste, “debe ser definitivo tan pronto como sea posible”.</p>
    </div>
  </div>

  <div class="container-general">
      <h2>Los profesionales de la Radiología, una pieza clave en el diagnóstico, estadificación y seguimiento del cáncer colorrectal</h2>
  <div class="cont-img">
    <img src="../../../assets/images/Cancer-colon--1536x864.png" title="img">
  </div>
  <div class="cont-inf">
    <p>Los profesionales de la radiología somos una pieza clave en el diagnóstico, estadificación y seguimiento del cáncer colorrectal, dado que realizamos la colonografía-TC para detectar lesiones de forma precoz y no invasiva, hacemos la tomografía computarizada (TC) toraco-abdominal para la estadificación del cáncer de colon, una resonancia magnética (RM) de pelvis en las neoplasias de recto, en caso de ser necesario y una TC para ver si el tumor se ha extendido a otros órganos y realizar el seguimiento”, apunta la Dra. Cristina García Villar</p>
    <p>Además, los expertos en radiodiagnóstico realizan biopsias de lesiones indeterminadas para establecer su diagnóstico y optimizar las opciones de tratamiento. Incluso, cuando está indicado, también aplican tratamientos loco-regionales en las metástasis hepáticas de cáncer de colon.</p>
    <p>Finalmente, la participación de los especialistas en Radiología en comités multidisciplinares es imprescindible para decidir junto a otros especialistas lo mejor para cada paciente.</p>
  </div>
  </div>

<div class="container-general">
    <h2>Diagnóstico por imagen del cáncer de páncreas: ¿Qué papel tenemos los profesionales de la radiología?</h2>
  <div class="cont-img">
    <img src="../../../assets/images/INFOGRAFIA-CANCER-NOVIEMBRE-2022-PANCREAS-OKokok-1-1-1536x864.png" title="img">
  </div>
  <div class="cont-inf">
    <h2>Diagnóstico por imagen del cáncer de páncreas: ¿Qué papel tenemos los profesionales de la radiología?</h2>
    <p>El día 17 de noviembre se celebra el día mundial del cáncer de páncreas. Según las estimaciones de la Sociedad Española de Oncología Médica (SEOM) en 2021 se diagnósticaron 9.252 casos de cáncer pancreático.</p>
    <p>Los profesionales de la radiología somos una pieza clave en el diagnóstico y estadificación de la enfermedad, una información muy importante a la hora de planificar la mejor opción terapéutica. El papel de los médicos especialistas en radiodiagnóstico dentro del cáncer de páncreas pasa por:</p>
  <ul>
    <li>La prueba diagnóstica más importante en el manejo del cáncer de páncreas es la Tomografía Computarizada (TC).</li>
    <li>El informe del radiólogo es el que va a determinar el manejo del cáncer de páncreas, ya que es crucial para saber si se puede operar directamente o si necesita algún tipo de tratamiento antes de la intervención.</li>
    <li>Participamos en Comités Multidisciplinares para decidir conjuntamente con otros especialistas lo mejor para cada paciente.</li>
  </ul>
  </div>
  </div>

  <div class="container-general">
    <h2>La Sociedad Española de Radiología Médica y su sección, la Sociedad Española de Imagen Mamaria, recomiendan bajar la edad del cribado de cáncer de mama a los 40 años</h2>
  <div class="cont-img">
    <img src="../../../assets/images/imagen.png" title="img">
  </div>
  <div class="cont-inf">
    <p>En el nuevo plan de lucha europeo contra el cáncer (1) se recoge un enfoque nuevo y actualizado de los cribados atendiendo a los avances tecnológicos y nuevas evidencias científicas generadas en los últimos años (3). En lo que se refiere a la mama, existen nuevas evidencias de aumento de incidencia en edades tempranas y beneficios significativos para el grupo etario de mujeres entre 40-50 años, con una reducción de mortalidad a 10 años gracias al cribado</p>
    <p>A estas nuevas pautas se añaden los avances tecnológicos, como la inteligencia artificial, que sumada a la mamografía con tomo síntesis e imagen sintetizada permite reducir la dosis de radiación aumentando la sensibilidad y especificidad diagnóstica</p>
    <p>Según la Dra. Cristina Romero, miembro de la Sociedad Española de Radiología Médica (SERAM) y vocal de cribados de la  SEDIM “De igual modo, la mamografía con contraste o la resonancia magnética (RM) para las pacientes de alto riesgo están generando resultados muy prometedores que nos orientan a personalizar los cribados, según los perfiles de riesgo usando la mejor tecnología”. Además,“Numerosas sociedades científicas como el Red Nacional Integral del Cáncer (NCCN) se han sumado ya a este plan para cambiar el paradigma de los cribados, que llevaban sin cambios desde su instauración a finales de los noventa”, apunta la Dra. Romero. </p>
    <p>En EEUU las nuevas directrices establecen que las mujeres deben someterse a una evaluación del riesgo de cáncer de mama a partir de los 25 años, y también enfatizan la mamografía  a partir de los 40 años para aquellas con riesgo promedio, un enfoque de detección que ofrece la mayor reducción de la mortalidad, según la evidencia disponible.</p>
    <p>La tendencia actual es la personalización de los cribados, entendiendo como tal distinta técnica y periodicidad según factores de riesgo confirmados, tales como los antecedentes familiares y personales, así como la densidad mamaria. No olvidemos que la mayoría de las mujeres jóvenes tienen densidades mamarias altas, y esto hasta ahora era un argumento para no bajar la edad de cribado, ya que la mamografía disminuía su sensibilidad y especificidad.  Sin embargo, los avances tecnológicos (como la tomosíntesis y la Inteligencia artificial) así como la utilización de mamografía de contraste para las mujeres en el circuito de re llamadas de las campañas poblacionales de cribado han abierto una nueva perspectiva.</p>
  </div>
  </div>
