<div class="container">
  <div class="container-img">
  
  <div class="container-info">
    <h2>Lorem ipsum dolor sit amet🐸.</h2>
    <p>🐄Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, saepe consequatur! Voluptatum ipsum tempora hic, velit, sed iure fugit, magnam nihil dolorem alias quia fuga consequuntur earum a commodi sint?</p>
   
    
  </div>
</div>
<div class="container-de-container">
  <h2>Lorem Lorem🐦</h2>
  <hr>
  <div class="contenedor text-center d-flex justify-content-between align-items-center">
    <div class="card" style="width: 18rem;">
      <div class="card-header">
        🐑Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe perspiciatis voluptate fugit.</div>
      <img src="" class="card-img" alt="img">
    </div>


    <div class="card" style="width: 18rem;">
      <div class="card-header">
        🐟Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis reiciendis quia necessitatibus!</div>
      <img src="" class="card-img" alt="img">
    </div>



    <div class="card" style="width: 18rem;">
      <div class="card-header">
        🐑Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis optio vitae dolores?
      </div>
      <img src="" class="card-img" alt="img">
  </div>


    <div class="card" style="width: 18rem;">
      <div class="card-header">
        🐟Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </div>
      <img src="" class="card-img" alt="img">
    </div>
  </div>
  </div>


  <div class="container-de-container">
    <div class="contenedor text-center d-flex justify-content-between align-items-center">
      <div class="contenedor-img d-flex justify-content-evenly">
    <img src="" alt="img" width="300px">
    <div>
    <h3>🐦Lorem, ipsum dolor.</h3>
    <h4>🐦Lorem ipsum dolor sit amet.</h4>
    <h5>🐦Lorem ipsum, dolor sit amet consectetur adipisicing elit.</h5>
  </div>
  </div>
    <div class="contenedor-escrito">
<h3>🐈Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, maiores. Unde sit delectus repellat quibusdam?</h3>
  </div>
  </div>
  </div>
  <div class="cont-link">
  <a mat-button routerLink="/noticias" class="link-noticias2">🐶Lorem ipsum dolor sit.</a>
  </div>

  <div class="cont-socio">
    <hr>
    <h3 class="title-aso">🐑Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos?</h3>
    <div class="cont-p">
      <img src="" title="img">
      <div class="seram"><p>🐑Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa deserunt quod blanditiis enim adipisci!</p>
      <p class="ventajas">Lorem ipsum dolor sit.</p>
      <ul>
        <li>🐑Lorem.</li>
        <li>🐑Lorem.</li>
        <li>🐑Lorem.</li>
        <li>🐑Lorem.</li>
        <li>🐑Lorem.</li>
        <li>🐑Lorem.</li>
      </ul>
      </div>
    </div>
    <a mat-button routerLink="/formulario-socios" class="link-socio">HAZTE SOCIO >></a>
  </div>

