

.container-de-container {border: 1px solid rgba(0, 0, 0, 0.2);
  width: 80%;
  margin: 30px auto;
  padding: 20px;
  color: #002653;
  font-family:  'Assistant', sans-serif;
  font-weight: 600;}

  .container-de-container h2 {color: orange;
  font-size: 1.8em;}



  .contenedor-escrito{
    width: 100%;
    padding: 10px;
  }
  .contenedor-img{border-right: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  }

  .contenedor-img h3{font-weight: 500;
  font-size: 2.2em;
  margin-top: 30px;}
  .contenedor-img h4{font-weight: 500;
  font-size: 1.7em;
  color: orange;}
  .contenedor-img h5 {
    font-weight: 500;
    font-size: 1.2em;
  }

  .card
   {border-radius: 0;
  border: 0;}.container {width: 70%;
margin:40px auto;
}

.container-img img{width: 100%;
}

.container-info{align-items: center;
text-align: justify;}

.container-info h2{color: #002653;
margin-top: 30px;
font-size: 1.5em;}

.container-info .link {color: orange;}

.card-header{background-color: transparent;
  border: 0;}

  .cont-link{margin: auto;
    text-align: center;
    align-items: center;}

    .link-noticias2
{color: #002653;
margin:30px auto;
text-decoration: underline;}

.title-aso {text-align: center;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 70px;
  color: #ffc107;
  font-size: 3.5em;}

  .ventajas{color: orange !important;
  font-size: 1.4em;
font-weight: 500;
text-align: center;}

.cont-p p{color: #002653;
font-size: 1.6em;
margin-bottom: 40px ;
}

.cont-p {border: 1px solid gray;
display: flex;
padding: 20px;
margin-top: 70px;}

.cont-p img {width: 100%;
  object-fit: contain;
  padding-right: 20px;
}

.cont-socio{width: 80%;
margin: auto;}

.seram {padding: 30px;
border-left: 1px solid gray;}

.link-socio {color: #002653;
font-size: 1.8em;
text-align: center;
margin: 30px 0px 30px 500px;}


